@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$font-family-base: "Montserrat", sans-serif;

/* ---------------------------------------------------------------------- */

@import "../node_modules/bootstrap/scss/bootstrap";
.nav-clase-inventada {
  background-color: #a2ccd4;
}
header {
  max-width: 100%;
  height: 21vw;
  background-image: url("../img/header-map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}
p {
  @include important-text;
}
